<!DOCTYPE html>
<html ng-app="contentdb_poc">
<head>
    <title>ContentDB POC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-sanitize.min.js"></script>
</head>
<body ng-controller="Article">
 <div class="container">
    <br><br><br><br>
    <div class="row">
        <div class="col-md-8">
            <p><input class="form-control" type="text" ng-model="article.id" placeholder="ID"/></p>
            <p><input class="form-control" type="text" ng-model="article.supertitel" placeholder="Supertitle"/></p>
            <p><input class="form-control" type="text" ng-model="article.rubrik" placeholder="Rubrik"/></p>
            <p><textarea class="form-control" ng-model="article.summary" rows="3" placeholder="Summary"></textarea></p>
            <p><textarea class="form-control" ng-model="article.tekst" rows="20" placeholder="Br&oslash;dtext"></textarea></p>
            <p><input class="form-control" type="text" ng-model="article.primaryTerm" placeholder="Primary Term"/></p>
            <p><input class="form-control" type="text" ng-model="article.topicPages" placeholder="Topic Pages"/></p>
            <p><input class="form-control" type="text" ng-model="article.presentationTags" placeholder="Pr&aelig;sentations Tags"/></p>
            <p><input class="form-control" type="text" ng-model="article.prisAbonnement" placeholder="Pris/Abonnement"/></p>
        </div>
        <div class="col-md-4">
            <p>
                <button class="btn btn-primary btn-sm" ng-click="saveArticle()">Gem</button>
                <button class="btn btn-primary btn-sm" ng-click="clearEditor()">Ny</button>
                <a class="preview" target="_blank" href="/{{article.id}}">Preview</a>
            </p>
            <p>
                <a href="/ghostdown.html">Ghostdown demo</a>
            </p>
            <h4>Artikler</h4>
            <p>Filter: <input class="form-control input-sm" style="width:50%;height:20px;display:inline-block" type="text" ng-model="query"></p>
            <p ng-repeat="article in articles | filter:query">
                <button type="button" class="btn btn-info btn-xs" ng-click="getArticle(article.id)">Load</button>
                <abbr ng-attr-title="{{article.tekst}}" class="initialism">{{article.id}}</abbr>
                <span class="glyphicon glyphicon-remove" ng-click="deleteArticle($index, article.id)" style="float:right;" />
            </p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
+function ($) {
    var contentdb_poc = angular.module('contentdb_poc', []);
    contentdb_poc.controller('Article', function($scope, $http){

        $scope.article = {}

        $http.get("/articles").success(function(data){
            $scope.articles = data
        })

        $scope.getArticle = function(id){
            $http.get("/json/" + id).success(function(data){
                $scope.article = data
            })
        }

        $scope.saveArticle = function(){
            if ($scope.article.id)
            {
                $http.put("/" + $scope.article.id, $scope.article).success(function(data){
                    var a = false
                    for(var i = 0, bound = $scope.articles.length; i < bound; ++i) {
                        if ($scope.articles[i].id === $scope.article.id) {
                            a = true
                        }
                    }

                    if (a === false) {
                        $scope.articles.push($scope.article)
                    }
                    // TODO: Show "OK"
                })
            } else {
            }
        }

        $scope.deleteArticle = function(index, id) {
            $http.delete("/" + id).success(function(data) {
                $scope.articles.splice(index, 1)
                $scope.article = {}
            })
        }

        $scope.clearEditor = function() {
            $scope.article = {}
        }
    })
}(jQuery)
</script>
</body>
</html>