body
{
	margin-top: 80px;
}

h4
{
	margin-top: 35px;
}

span.authorlabel
{
	font-size: small;
	margin-left: 45px;
}

span.addeditor_partials_viewed
{
	background-color: lightgreen;
}

span.removed
{
	/*text-decoration: line-through;*/
	background-color: red;
}

#profile
{
	position: absolute;
	top: 0px;
	right: 0px;
}