<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                <button class="btn btn-primary btn-sm" ng-click="openEditor()">Ny</button>
            </p>
            <h4>Artikler i DynamoDB</h4>
            <p>Filter: <input class="form-control input-sm" style="width:50%;height:20px;display:inline-block" type="text" ng-model="query"></p>
            <p ng-repeat="article in articles | filter:query">
                <button type="button" class="btn btn-info btn-xs" ng-click="openEditor(article.id)">Load</button>
                <abbr ng-attr-title="{{article.Tekst}}" class="">{{article.title}}</abbr><br /><span class="authorlabel">af {{article.author}}</span>
            </p>
            <h4>www.b.dk > Flow 1</h4>
            <p ng-repeat="node in nodequeue210">
                <button type="button" class="btn btn-info btn-xs" ng-click="openEditor(node.id)">Load</button>
                <abbr ng-attr-title="{{node.link}}" class="">{{node.title}}</abbr><br /><span class="authorlabel">af {{node.author}}</span>
            </p>
            <h4>www.b.dk > mest læste</h4>
            <p ng-repeat="node in nodequeue5">
                <button type="button" class="btn btn-info btn-xs" ng-click="openEditor(node.id)">Load</button>
                <abbr ng-attr-title="{{node.link}}" class="">{{node.title}}</abbr><br /><span class="authorlabel">af {{node.author}}</span>
            </p>
        </div>
    </div>
</div>
