@!(article)
<h2>@article.supertitle</h2>
<div class="row">
	<div class="col-xs-12">
		<h1>@article.Rubrik</h1>
	</div>
	<div class="col-xs-12">@article.Tekst</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Metadata</div>
  <div class="panel-body">
	<div class="row">
		<div class="col-xs-2">Rubrik</div>
		<div class="col-xs-10">@article.Rubrik</div>
	</div>
	<div class="row">
		<div class="col-xs-2">Summary</div>
		<div class="col-xs-10">@article.Summary</div>
	</div>
	<div class="row">
		<div class="col-xs-2">Primary term</div>
		<div class="col-xs-10">@article.PrimaryTerm</div>
	</div>
	<div class="row">
		<div class="col-xs-2">Topic pages</div>
		<div class="col-xs-10">@article.TopicPages</div>
	</div>
	<div class="row">
		<div class="col-xs-2">Presentation tags</div>
		<div class="col-xs-10">@article.PresentationTags</div>
	</div>
	<div class="row">
		<div class="col-xs-2">Pris/abbonement</div>
		<div class="col-xs-10">@article.PrisAbonnement</div>
	</div>
  </div>
</div>
