@!(article)
<h2>@article.supertitle</h2>
<div class="row">
	<div class="col-xs-2">Rubrik</div>
	<div class="col-xs-10">@article.rubrik</div>
</div>
<div class="row">
	<div class="col-xs-2">Summary</div>
	<div class="col-xs-10">@article.summary</div>
</div>
<div class="row">
	<div class="col-xs-2">Primary term</div>
	<div class="col-xs-10">@article.primaryTerm</div>
</div>
<div class="row">
	<div class="col-xs-2">Topic pages</div>
	<div class="col-xs-10">@article.topicPages</div>
</div>
<div class="row">
	<div class="col-xs-2">Presentation tags</div>
	<div class="col-xs-10">@article.presentationTags</div>
</div>
<div class="row">
	<div class="col-xs-2">Pris/abbonement</div>
	<div class="col-xs-10">@article.prisAbonnement</div>
</div>
<div class="row">
	<div class="col-xs-2">Tekst</div>
	<div class="col-xs-10">@article.tekst</div>
</div>
