<div class="row">
	<div class="col-xs-2">
		<a href="/">
			<img src="http://www.bt.dk/sites/all/themes/tabloid-dk/bt/css/images/logo-bt-220-gradient.svg?1408"/>
		</a>
	</div>
	<div class="col-xs-8">
		<ul class="pagination .pagination-lg">
			<li><a href="/sektion/nyheder">Nyheder</a></li>
			<li><a href="/sektion/sport">Sport</a></li>
			<li><a href="/sektion/underholdning">Underholdning</a></li>
			<li><a href="/sektion/sundhed">Sundhed</a></li>
			<li><a href="/sektion/forbrug">Forbrug</a></li>
		</ul>
	</div>
	<div class="col-xs-2">
		<input class="form-control" type="text" placeholder="Søg"/>
	</div>
</div>
