<!DOCTYPE html>
<html ng-app="contentdb_poc">
<head>
    <title>ContentDB POC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
</head>
<body ng-controller="Article">
 <div class="container">
    <br><br><br><br>
    <div class="row">
        <div class="col-md-8">
            <!-- <p><input class="form-control" type="text" ng-attr-value="{{articleid}}" placeholder="ID"/></p> -->
            <p><input class="form-control" type="text" ng-model="article['Article ID'].S" placeholder="ID"/></p>
            <p><input class="form-control" type="text" ng-attr-value="{{test}}" placeholder="Supertitle"/></p>
            <p><input class="form-control" type="text" ng-attr-value="{{}}" placeholder="Summary"/></p>
            <p><textarea id="editor" class="form-control" ng-model="article.Article.S" rows="20" placeholder="Br&oslash;dtext"></textarea></p>
            <p><input class="form-control" type="text" ng-attr-value="{{}}" placeholder="Primary Term"/></p>
            <p><input class="form-control" type="text" ng-attr-value="{{}}" placeholder="Topic Pages"/></p>
            <p><input class="form-control" type="text" ng-attr-value="{{}}" placeholder="Pr&aelig;sentations Tags"/></p>
            <p><input class="form-control" type="text" ng-attr-value="{{}}" placeholder="Pris/Abonnement"/></p>
        </div>
        <div class="col-md-4">
            <p>
                <button class="btn btn-primary btn-sm" ng-click="saveArticle(articleid)">Gem</button>
                <a class="preview" target="_blank" href="/raw/{{articleid}}">Preview</a>
            </p>
            <p>
                <a href="/editor">Ghostdown demo</a>
            </p>
            <h4>Artikler</h4>
            <p>Filter: <input class="form-control input-sm" style="width:50%;height:20px;display:inline-block" type="text" ng-model="query"></p>
            <p ng-repeat="article in articles | filter:query">
                <button type="button" class="btn btn-info btn-xs" ng-click="getArticle(article['Article ID'].S)">Load</button>
                <abbr ng-attr-title="{{article.Article.S}}" class="initialism">{{article['Article ID'].S}}</abbr>
                <span class="glyphicon glyphicon-remove" ng-click="deleteArticle(article['Article ID'].S)" style="float:right;" />
            </p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
+function ($) {
    var contentdb_poc = angular.module('contentdb_poc', []);
    contentdb_poc.controller('Article', function($scope, $http){

        $scope.article = {
            id: undefined,
            body: "",
            title: ""
//             Supertitle: Ballet
// Rubrik: Russiske svaner i den skønneste dans på Gamle Scene
// Summary: Mariinskij Balletten åbnede sit store gæstespil med en traditionel, men uhyre smuk, lyrisk og stilren version af »Svanesøen«.
// Primary term: www.b.dk > Kultur > Scene
// Nodequeues
// Article elements (default)
// Article elements (embedded)
// Topic Pages: Ballet, Svanesøen, Det Konglelige Teater
// Presentation tage: www.b.dk > Artikel > Lille billede
// Pris/Abonnement
        }

        $http.get("/articles").success(function(data){
            $scope.articles = data
        })

        $scope.getArticle = function(id){
            $http.get("/json/" + id).success(function(data){
                // $scope.articleid = id
                // $scope.articletext = data
                $scope.article = data
            })
        }

        $scope.saveArticle = function(id){
            console.log($scope.article)

            // var temp = $("#editor").val()
            // var params = {"article": temp}
            // if (id === undefined)
            // {
            //     $http.post("/", params).success(function(data){
            //         $scope.articleid = id
            //         $scope.articletext = temp
            //     })
            // } else {
            //     $http.put("/" + id, params).success(function(data){
            //         $scope.articleid = id
            //         $scope.articletext = temp
            //     })
            // }
        }

        $scope.deleteArticle = function(id) {
            console.log("delete " + id)
        }
    })
}(jQuery)
</script>
</body>
</html>